# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\5th year\AL_NAMLAH\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
